<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" data-bs-theme="dark">
  <head>
    <!-- Welcome to Cube Rubrics -->
    {%- block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} &middot; Cube Rubrics</title>
    <meta name="author" content="Cube Rubrics Team">
    <meta name="description" content="Developing new scoring guides for the assessing and articulating the performance of Cubes">

    {%- block styling %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Bootstrap bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/zephyr/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

    <!-- CubeRubrics js -->
    <script src="{{ url_for('static', filename='js/cube.js') }}"></script>
    <style>
      nav.navbar {
        margin-bottom: 1rem;
      }

      {# Center the navbar logo #}
      @media (min-width: 768px) {
        .navbar-brand.abs {
          position: absolute;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          }
      }

      {# ensure footer stays at bottom #}
      html {
          min-height: 100%;
      }

      .collapsed.side-nav::before {
        content: '\002B ';
        display: inline-block;
      }

      .side-nav::before {
        content: '\2212 ';
        display: inline-block;
      }

    </style>
    {%- endblock styling %}
    {%- endblock head %}
  </head>

  <body>

    {%- block body %}
    <!-- navbar -->
    {%- block navbar %}
    <nav class="navbar navbar-expand-md bg-body-tertiary">
      <div class="container-fluid">
        <!-- brand/logo -->
        <a class="navbar-brand abs" href="/" title="Cube Rubrics - Home">
          <img src="/static/img/logo.png" style="max-height: 50px; max-width:500px;" alt="Cube Rubrics logo"/>
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Open/close the navigation menu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- collapsible section -->
        <div class="navbar-collapse collapse" id="navbarMain">
          <!-- start: before logo (left) -->
          <ul class="navbar-nav text-center">
            {% block navleft %}
            <li class="nav-item">
              <a class="nav-link" href="/analysis" title="Study scrambles, solutions and algorithms">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" title="Cube Rubrics information and contacts">About</a>
            </li>
            {% endblock navleft %}
          </ul>

          <ul class="navbar-nav ms-auto text-center">
            {#- TODO: Make these variable #}
            <!-- Email -->
            <li class="nav-item">
              <a class="nav-link" href="mailto:info@cuberubrics.org" title="Email us at info@cuberubrics.org"><i class="bi bi-envelope-at"></i></a>
            </li>

            <!-- RSS -->
            <li class="nav-item" title="This is where you could subscribe to our RSS feed... IF WE HAD ONE! (coming soon)">
              {#- TODO: rss feed proper #}
              <a class="nav-link disabled" href="/feed.xml" disabled><i class="bi bi-rss"></i></a>
            </li>

            <!-- Subscription button -->
            <li class="nav-item">
              <button class="btn btn-outline-info" type="button" title="Subscribe to our mailing list for updates!" data-bs-toggle="modal" data-bs-target="#subscriptionModal">Subscribe</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Subsription modal -->
    <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">CubeRubrics Mailing List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/api/v0" method="PUT" id="subscriptionForm" 
                    {#- Does javascript submission #}
                    onsubmit="api_form_submit(event);"
                    {#- major type - required #}
                    data-query="subscribe">
              <div class="form-group mb-3" title="required">
                <p id="subscribeEmailInfo" class="form-text">
                  Subscriptions are free and any information shared with
                  us will <em>NOT</em> be shared with anyone else.

                  When accounts become available, our subscribers will have 
                  first access.
                </p>
                <label for="subs-email" class="form-label">Email</label>
                <small id="subscEmailRequired" class="form-text"><i class="bi bi-asterisk"></i></small>
                <input type="email" name="subs-email" class="form-control" id="subs-email" aria-describedby="subscribeEmailInfo" placeholder="Enter email (required)" maxlength="254" required/>
              </div>

              <div class="form-group mb-3" title="optional">
                <label for="subs-name" class="form-label form-label-sm">Name</label>
                <input type="text" name="subs-name" class="form-control form-control-sm" id="subs-name" aria-describedby="subscribeNameInfo" placeholder="Name" maxlength="254"/>
                <small id="subscribeNameInfo" class="form-text">
                </small>
              </div>

              <div class="form-group mb-3">
                <label for="subs-notes" class="form-label form-label-sm">Notes</label>
                <textarea class="form-control form-control-sm" id="subs-notes" name="subs-notes" rows="3" placeholder="Leave a note for the team (be nice)" maxlength="2540"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-info" type="submit" form="subscriptionForm">Submit</button>
          </div>
        </div>
      </div>
    </div>
    {%- endblock navbar %}
    <!-- page body -->
    <main>
      <!-- content -->
      {%- block content %}
      <div class="container-fluid">
        {#-
          NOTE: For the 3-column layout, insert the content section by section with "pre-", "main-" and "postcontent", otherwise overwrite all this with "content"
        #}
        <div class="row">
          <div class="col-md-2">
            {#- Lefthand sidebar/top of page bar on phones #}
            {%- block precontent %}
            {%- endblock %}
          </div>

          <!-- content -->
          <div class="col-md">
            {#- Centered/main content #}
            {%- block maincontent %}
            {%- endblock %}
          </div>

        <div class="col-md-2">
          {#- Righthand sidebar/second bar on phones #}
          {%- block postcontent %}
          {%- endblock %}
        </div>
      </div>
      {%- endblock content %}
    </main>

    <!-- messages -->
    <div class="container">
      <div class="toast-container" id="server-messages">
        {%- with messages = get_flashed_messages(with_categories=true) %}
        {%- if messages %}
        {%- for c, m in messages %}
        <!-- {{ c }}: {{ m }}-->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
          <div class="toast-header">
            {%- if c == 'message' %}
            <strong class="me-auto">Message</strong>
            {%- else %}
            <strong class="me-auto text-{{ c }}">{{ c | title }}</strong>
            {%- endif %}
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {{ m }}
          </div>
        </div>
        {%- endfor %}
        {%- else %}
        <!-- no messages -->
        {%- endif %}
        {%- endwith %}
      </div>
    </div>

    <!-- footer -->
    <footer>
      {%- block footer %}
      <!-- TODO: Add proper footer -->
      {%- endblock footer %}
    </footer>
    {%- endblock body %}

    <!-- hidden, javascript copy-able elements -->
    <div style="display: none;" id="cr-constructors">
      <div class="spinner-border" role="status" id="generic-spinner">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script>
      var page_modals = load_modals();

      load_bs_extras();

      if (window.location.hash) {
        console.log('Checking window location hash: ', window.location.hash);
        switch (window.location.hash) {
          case '#subscribe':
            console.log('Open subscribe window');
            page_modals.subscription.show();
            break;
          default:
            console.log('Unknown hash value');
        }
      }
    </script>
  </body>
</html>
