{%- extends "layouts/main.html" %}
{%- block title %}About{%- endblock %}

{%- block content %}
<div class="container text-center">
  <h2>Purpose</h2>
  <p class="lead">Developing new scoring guides for the assessing and articulating the performance of Cubes.</p>

  <div class="border-3 border-top border-bottom m-2 p-2">
    <h2>Team</h2>
    <div class="card mx-auto m-2" id="crystal" style="max-width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">Crystal Calvert</h4>
        <h6 class="card-subtitle text-muted">Product Designer</h6>
        <p class="card-text">Mechanical engineer and longtime puzzle twister</p>

          <!-- Links -->
          <a class="card-link" href="mailto:crystal@cuberubrics.org"><i class="bi bi-envelope-at-fill" title="crystal@cuberubrics.org"></i></a>
          <a class="card-link" href="https://github.com/tigerquing" title="Link to crystal's Github account"><i class="bi bi-github"></i></a>
          <a class="card-link" href="https://twitter.com/baronnarcveldt"><i class="bi bi-twitter"></i></a>
          <a class="card-link" href="https://bsky.app/profile/baronnarcveldt.bsky.social" title="Link to bluesky account for crystal"><i class="bi bi-clouds"></i></a>
        </div>
    </div>

    <div class="card mx-auto m-2" id="patrick" style="max-width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">Patrick Ingham</h4>
        <h6 class="card-subtitle text-muted">Senior Developer</h6>
        <p class="card-text">Chemical engineer, programmer and amateur logic-games enthusiast</p>

        <!-- Links -->
        <a class="card-link" href="mailto:patrick@cuberubrics.org"><i class="bi bi-envelope-at-fill" title="patrick@cuberubrics.org"></i></a>
        <a class="card-link" href="https://github.com/pingham1991" title="Link to patrick's Github account"><i class="bi bi-github"></i></a>
        <a class="card-link" href="https://twitter.com/lemeilleurpat"><i class="bi bi-twitter"></i></a>
        <a class="card-link" href="https://bsky.app/profile/thebestpatrick.bsky.social" title="Link to bluesky account for patrick"><i class="bi bi-clouds"></i></a>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a class="btn btn-outline-success disabled" title="not available yet" href="faq">FAQ</a>
  </div>
</div>
{%- endblock %}
